---
import Layouts from '../layouts/Layouts.astro';
const titulo = "Acerca de mí";
const descripcion = "Tu subtitulo va aquí";
---

<Layouts titulo={titulo} descripcion={descripcion}>

<section>
    <div>
        <h2>Esta es mi historia</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptas ipsum corporis reprehenderit aut maiores voluptatem, quas mollitia veritatis quis qui iste alias deserunt odio explicabo consequuntur amet, quod fuga?</p>
    </div>
    <div></div>
</section>
<section>
    <h2>Mis trabajos recientes

    </h2>
</section>
</Layouts>