---
import Layouts from '../layouts/Layouts.astro';
const titulo = "Acerca de mí";
const descripcion = "Tu subtitulo va aquí";
---

<Layouts titulo={titulo} descripcion={descripcion}>

<section>
    <div>
        <h1>Esta es mi historia</h1>
        <p>Curabitur quis dui volutpat, cursus eros ut, commodo elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut id est euismod, rhoncus nunc quis, lobortis turpis. Tam sociis natoque. Curabitur quis dui volutpat, cursus eros ut, commodo elit. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
    </div>
    </section>
    <section>
    <div>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
    </div>
</section>
<section>
<h3>Mis trabajos recientes</h3>
</section>


</Layouts>
<style>
    section {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
    }

    h2 {
        color: #2b6dfb;
    }
    h3 {
        color: #343a40;
    }

    p {
        font-size: 1rem;
        line-height: 1.5;
    }
    button {
        margin: 5px;
        padding: 10px 80px;
        background-color: #2b6dfb;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        tex vertical-align: ;
    }
</style>