---
import Layouts from '../layouts/Layouts.astro';
---


<Layouts titulo="Mi sitio web con Astro" descripcion="Bienvenido a mi sitio web hecho con Astro">
<main>
        <section>
            <div class="bienvenidos">
              <p clss="bienvenidos1">Bienvenido a mi sitio web</p>
              <p class="bienvenidos2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  In in risus eget lectus suscipit malesuada. Maecenas ut 
                urna mollis, aliquam eros at, laoreet metus.</p>
                <button>Ingresar</button>
            </div>
        </section>
        <section>
            <div class="parrafo_descriptivo">Somos una empresa de diseñadores y desarrolladores apasionados.
            </div>
        </section>
        <section>
            <div class="logo1">
                
                <p>Lorem Ipsum</p>
                <p>Divi cambiará para siempre la forma de crear sitios web.
                     El creador de páginas avanzado permite crear páginas realmente dinámicas 
                    sin necesidad de aprender código.</p></div>
          
            <div class="logo2"> 
               <p>Lorem Ipsum</p>
               <p>Divi cambiará para siempre la forma de crear sitios web. 
                El creador de páginas avanzado permite crear páginas realmente dinámicas
                 sin necesidad de aprender código.</p></div>

            <div class="logo3">
               <span>Lorem Ipsum</span>
               <p>Divi cambiará para siempre la forma de crear sitios web. 
                El creador de páginas avanzado permite crear páginas realmente dinámicas
                 sin necesidad de aprender código.</p></div>

            <div class="logo4">
              <span>Lorem Ipsum</span>
              <p>Divi cambiará para siempre la forma de crear sitios web. 
                El creador de páginas avanzado permite crear páginas realmente dinámicas
                 sin necesidad de aprender código.</p></div>
            <div class="mensaje">
                <h2>Envíame un mensaje</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   In in risus eget lectus suscipit malesuada. Maecenas ut urna mollis, 
                    aliquam eros at,laoreet metus.</p>
                <button>contacto</button>

            </div>
        </section>
</main>
</Layouts>

  
