---
import Layouts from '../layouts/layouts.astro';
const titulo = "Página de inicio";
const descripcion = "Bienvenido a mi sitio web";
---


<Layouts> 
  <section>
    <a href="bgrbrbgrb"> chicha morada</a>
     <div class="inicio">
              <h1>Mi Portafolio Web</h1>
              <h2> Gaby Marilu</h2>
              <p>"Soy un desarrolladora de software apasionado por crear soluciones eficientes y escalables. Me especializo en [área específica: desarrollo web, móvil, backend, etc.] y cuento con experiencia en tecnologías como [mencionar lenguajes y frameworks clave]. Mi enfoque está en el desarrollo de código limpio, mantenimiento y mejora continua, orientado siempre a cumplir las necesidades del cliente y ofrecer la mejor experiencia de usuario. Me motiva enfrentar retos técnicos que favorecen el aprendizaje constante y la innovación. En este portafolio, muestro proyectos que reflejan mi capacidad para diseñar y desarrollar aplicaciones funcionales, con documentación clara y código abierto que demuestra mi compromiso con la calidad y la colaboración."</p>
                <button>Contactame</button>
        </section>




    </div>
    <div class="logo1">
                
                <p>Lorem Ipsum</p>
                <p>Divi cambiará para siempre la forma de crear sitios web.
                     El creador de páginas avanzado permite crear páginas realmente dinámicas 
                    sin necesidad de aprender código.</p>
                </div>
          
            <div class="logo2"> 
               <p>Lorem Ipsum</p>
               <p>Divi cambiará para siempre la forma de crear sitios web. 
                El creador de páginas avanzado permite crear páginas realmente dinámicas
                 sin necesidad de aprender código.</p></div>

            <div class="logo3">
               <span>Lorem Ipsum</span>
               <p>Divi cambiará para siempre la forma de crear sitios web. 
                El creador de páginas avanzado permite crear páginas realmente dinámicas
                 sin necesidad de aprender código.</p></div>

            <div class="logo4">
              <span>Lorem Ipsum</span>
              <p>Divi cambiará para siempre la forma de crear sitios web. 
                El creador de páginas avanzado permite crear páginas realmente dinámicas
                 sin necesidad de aprender código.</p></div>
            <div class="mensaje">
                <h2>Envíame un mensaje</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   In in risus eget lectus suscipit malesuada. Maecenas ut urna mollis, 
                    aliquam eros at,laoreet metus.</p>
                <button>contacto</button>

            </div>
        </section>
       
            <div class="parrafo_descriptivo">Somos una empresa de diseñadores y desarrolladores apasionados.
       </div>
       </section>
</Layouts>

<style>
  .inicio{
    background-color: #2b6dfb;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    background: linear-gradient(top #0000ff, #6d56f1, #dfdfeb);
    }

    .h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
    }

    .button {
    background-color:  #2b6dfb;
    color: white;
    font-size: 1.5em;
    margin-bottom: 20em;
    }

    .p {
    color: white;
    font-size: 1.2em;
  }
</style>
  
