---
const { titulo, descripcion } = Astro.props;
---
<section>
    <h2>{titulo}</h2>
    <p>{descripcion}</p>
</section>

<style>
    section {
        
    background-color: #2b6dfb;
    color: aliceblue;
    text-align: left;
    padding: 50px;
    background: linear-gradient(top #0000ff #6d56f1 #dfdfeb)
    }
    
    h2{
        font-size: 1.2em;
    }
    p{
        color: white;
        font-size: 0.5em;
       
    }
    
    
</style>