---

---
<footer>
  <p>Diseñado por Elegant Themes | Desarrollado por WordPress</p>

  <img src="" alt="">
</footer>

<style>
  footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
  }