---

---
<footer>
  <p>Diseñado por Elegant Themes | Desarrollado por WordPress</p>
  <ul>
    <li>f</li>
    <li>x</li>
    <li>x</li>
    </ul>
<style>
  footer{
    background-color: black;
    color: rgb(126, 120, 120);
    padding: 20px;
  }
  p{
    display: inline;
    margin-left: 25px;
  }

  ul{
    display: inline;
    list-style: none;
    margin-right: 25px;
    float: right;
  }
  li{
    display: inline; 
    margin-left: 10px;
  }
</style>
 