---
import NavBar from "./Navbar.astro"
---
<header>
  <h1>Demostración en vivo de la página de inicio simple
  </h1>
  <NavBar/> 
</header>
<style>
   h1 {
    margin: 0;
    font-size: 1rem;
    color: #343a40;
    
}
</style>