---

---
<nav>
    <a href="/">Hogar</a>
    <a href="/acercaDeMi">Acerca de mi</a>
    <a href="/sobreNosotros">Sobre nosotros</a>
    <a href="/blogs">Blogs</a>
    <a href="/contactenos">Cont치ctenos</a>
    <a href="/cartera">cartera</a>
    <a href="/proyecto">Proyecto</a>
    <a href="/dise침osBasicos">Dise침os b치sicos</a>
    <a href="/ventas">Ventas</a>
    <a href="/comercio">comercio</a>
    <a href="/modoDeMantenimiento">Modo de mantenimiento</a>
    <a href="/muyPronto">Muy pronto</a>
    <a href="/carritoImg">游</a>
    
  </nav>
  <style>
 
 nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
 }
  a {
    
   
    text-decoration: none;
    color: black;
    font-weight: bold;
    
    
    }
     
     