---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Encabezado from "../components/Encabezado.astro";
import Head from "../components/Head.astro";
const { titulo = "Mi sitio Astro", descripcion = "" } = Astro.props;
---

<html lang="es">
 <Head title="Inicio | Portafolio de Gaby" 
    description="Bienvenida al portafolio de Gaby, diseñadora y desarrolladora front-end."  />

  <body>
	 
    <!-- Tu encabezado y navegación -->
    <Header />

    <!-- El encabezado de la página -->
    <Encabezado titulo={titulo} descripcion={descripcion} />

    <!-- 👇 View Transitions deben ir en el contenedor principal -->
    <!-- @ts-ignore -->
<main transition:animate>
  <slot />
</main>


    <Footer />
  </body>
</html>
